header {
    width: 95%;
    margin: 5px auto;
    border:1px brown dashed;
    }
    
h1.title {
    text-align: center;
    border: 1px aquamarine solid;
    margin: 5px auto;
    width: 95%;
    }

img.head_img {
    width: 90%;
    margin: 3px 30px 3px 50px;
    height: 200px;
    border: 0px;
    outline: none;
    }
    
header a img.head_img {
    outline: none;
    border: 0px;
    }
    
/* Rules for navigation bar */

nav {
    border:1px yellow solid;
    width: 850px;
    margin: auto;
    margin-bottom: 6em;
    }
    
nav li {
    list-style-type: none;
    text-align: center;
    width: 125px;
    position: relative;
    float: left;
    margin: 0px 8px ;
    }
    
nav a {
    text-decoration: none;
    display: block;
    width: 125px;
    height: 25px;
    line-height: 25px;
    background-color: aliceblue;
    border-radius: 3px;
    }

nav .subnav li{
    width: 128px;
    position: relative;
    bottom: 1px;
    right: 8px;
    }

nav .subnav2 li{
    width: 125px;
    position: relative;
    bottom: 1px;
    right: 8px;
    }

nav .subnav a{
    margin-top: 3px;
    }

nav .subnav2 a{
    margin-left: 1px;
}

nav li:hover > a {
    background-color: #00FF40;
    }

nav li:hover a:hover {
    background-color: yellow;
    }

nav .subnav {
    display: none;
    position: absolute;
    top: 26px;
    left: 0px;
    }

nav .subnav2 {
    display: none;
    position: absolute;
    top: 1px;
    left: 129px;
}

nav li:hover .subnav {
    display: block;
    }

nav .subnav li:hover .subnav2 {
    display: block;
}

nav .darrow {
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 5px;

}
nav .rarrow {
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0.4em;
}

/*javascript greeting text*/
h3.js {
    text-align: center; 
}