.conpara{
    float: left;
    min-width: 300px;
    width: 31.25%;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    padding: 5px;
}

#page2{
    margin:0px 10px 10px 10px; 
    background-color: rgba(128,128,128,0.5);
    overflow: auto;
}

#rss_panel{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    min-width: 220px;
    width: 22.92%;
}

#rss_links{
    margin-left: 10px;
    margin-right: 10px;
    background-color: aliceblue;
    min-width: 700px;
    width:72.92%;
    float: left;
}

.twitter-timeline{
    display: block;
}

.conpara > h2{
    text-align: center;
}