@import url("header.css");
@import url("index.css");
@import url("footer.css");


/*reset value*/

*{
    margin: 0%;
    padding: 0%;}
    
body{
    margin: auto;
    min-width: 960px;
    max-width: 100%;
    background-color: rgba(128,128,128,0.5);
}

#page{
    margin:0px 10px 10px 10px; 
    background-color: rgba(255,0,0,0.5);
    border: 1px black solid;
    overflow: auto;
}